.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.json{
    width: 60%;
    min-height: 100px;
    font-size: large;
    line-height: 2rem;
}

button{
    margin-top: 20px;
}