<app-markdown-renderer [md]="'asyncpipe'"></app-markdown-renderer>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Classic imperative subscribe pattern </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @for (t of tasks; track t) {
      <div>{{ t.id }} - {{ t.title }}</div>
    }
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Using async pipe </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @for (t of tasks$ | async; track t) {
      <div>{{ t.id }} - {{ t.title }}</div>
    }
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Completed task with ngModel & async pipe </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <pre>{{ completed$ | async | json }}</pre>
  </mat-card-content>
</mat-card>

@if (tasks$ | async; as arTasks) {
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Aliasing </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @for (t of arTasks; track t) {
        <div>
          <div>Title: {{ t.title }}</div>
          <div>Completed: {{t.completed }}</div>
        </div>
      }
    </mat-card-content>
  </mat-card>
} @else {
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
}


<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> ngModel on prop & async - One way binding </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Title:"
        [ngModel]="(completed$ | async)?.title"
        />
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> ng-container & async</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (tasks$ | async; as tasks) {
        <div>tasks[0].id: {{ tasks[0].id }}</div>
        <div>tasks[0].title: {{ tasks[0].title }}</div>
      }
    </mat-card-content>
  </mat-card>
