.result{
  min-height: 10rem;
}

.cmdItems button {
  width: calc(50% - 3em);
  margin: 1em;
}

.hidden{
  visibility: hidden;
}

.cmdItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  button {
    width: calc(50% - 3rem);
    margin: 1em;
  }
}
