.container {
  display: grid;
  grid-template-columns: auto 240px;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "title title"
    "main sidebar";
  gap: var(--gap-small);
  min-height: 300px;
  border: 1px solid var(--color-primary);
}

.split-title{
  grid-area: title;
  background-color: var(--color-primary);
  color: white;
  padding: var(--gap-medium);
}

.split-main {
  grid-area: main;
  padding: var(--gap-medium);
}

.split-sidebar {
  grid-area: sidebar;
  padding: var(--gap-medium);
  background-color: var(--color-accent);
}
