//table
table{
  width: 100%;
}

thead{
  background-color: var(--color-primary) !important;
}

.mdc-data-table__header-cell {
  color: var(--color-fg);
}

th.mat-mdc-header-cell:last-of-type{
  text-align: right;
  padding-right: 24px;
}

td.mat-mdc-cell:last-of-type {
  text-align: right;
  padding-right: 12px;
}

//card
.mat-mdc-card-outlined  {
  background-color: var(--color-primary)!important;
  margin-bottom: var(--gap-big);
  padding: 0 !important;
}

.mat-mdc-card-title{
  color: var(--color-fg);
}
