<div class="row">
  <div class="title">
    {{ item.title }}
  </div>
  <div>
    <mat-slide-toggle
      color="primary"
      (change)="changeVisibility()"
      [checked]="item.visible"
      >Visible</mat-slide-toggle
    >
  </div>
  <div class="cmd" (click)="edit()">
    <button mat-stroked-button color="primary">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div class="cmd" (click)="delete()">
    <button mat-stroked-button color="primary">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
