.row {
  display: flex;
  flex-direction: row;
  gap: var(--gap-medium);
  cursor: pointer;
  border-bottom: 1px solid var(--color-accent);
  height: 40px !important;
}

.title{
  flex: 4;
}

.cmd{
  flex: 1;
  text-align: right;
}


.mat-mdc-outlined-button {
  height: 30px;
}

.mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep.mat-mdc-fab .mat-button-wrapper {
  display: flex !important;
  justify-content: center !important;
}
