<app-markdown-renderer [md]="'err-state.matcher'"></app-markdown-renderer>

<form
  [formGroup]="registerForm"
  (ngSubmit)="registerUser(registerForm)"
  #form="ngForm"
  >
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Validation Intro - Register Form</mat-card-title>
    </mat-card-header>
    <mat-card-content column>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Email Address"
          id="username"
          formControlName="email"
          [errorStateMatcher]="matcher"
          />
          @if (registerForm.controls.email.hasError('email')) {
            <mat-error
              >Keine oder ungültige E-Mail-Adresse
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field fxFlexFill>
          <input
            type="password"
            matInput
            id="password"
            placeholder="Password"
            formControlName="password"
            />
            @if (registerForm.controls.password.hasError('minlength')) {
              <mat-error
                >Min 4 Zeichen
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field fxFlexFill>
            <input
              type="password"
              matInput
              placeholder="Re-Enter Password"
              formControlName="passwordRepeat"
              />
            </mat-form-field>
            @if ((registerForm.controls.passwordRepeat.dirty || form.submitted) && registerForm.errors) {
              <mat-error
                >
                Password does not match
              </mat-error>
            }
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-raised-button type="submit" color="primary">Register</button>
          </mat-card-actions>
        </mat-card>
      </form>
