<app-markdown-renderer [md]="'custom-operators'"></app-markdown-renderer>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Custom Operators </mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button mat-raised-button color="accent" (click)="simpleFilter()">
      Simple Filter
    </button>
    <button mat-raised-button color="accent" (click)="usePow()">Pow</button>
    <button mat-raised-button color="accent" (click)="usingOperators()">
      Using Operators
    </button>
    <button mat-raised-button color="accent" (click)="errHandling()">
      Global Err Handler
    </button>
    <button mat-raised-button color="accent" (click)="utilFunction()">
      Util Function
    </button>
    <button mat-raised-button color="accent" (click)="resolveParentChild()">
      Resolve Parent Child
    </button>
  </mat-card-content>
</mat-card>

<div boxed>See Console for output</div>
