<app-markdown-renderer [md]="'view-queries'"></app-markdown-renderer>
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>ViewChild</mat-card-title>
    </mat-card-header>
    <mat-card-content >
        <div class="row">
            <label>Enter liters:</label>
            <input type="number" (blur)="calculateCost()" value="10" #liters #input>
        </div>
        <div class="row">
            <label>Cost:</label>
            <input type="number" #cost #input>
        </div>
    </mat-card-content>
</mat-card>

<div boxed>    
    <button mat-raised-button (click)="hideAlert()" color="primary">Hide alert</button>
    <app-alert></app-alert>
</div>
